blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
certifi==2024.12.14
charset-normalizer==3.4.1
click @ file:///home/conda/feedstock_root/build_artifacts/click_1734858813237/work
contourpy==1.3.1
cycler==0.12.1
fair==2.2.2
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1731556349671/work
Flask-Cors @ file:///home/conda/feedstock_root/build_artifacts/flask_cors_1718399065232/work
fonttools==4.55.4
idna==3.10
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1733308265247/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1734823942230/work
kiwisolver==1.4.8
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1733219703897/work
matplotlib==3.10.0
numpy==2.2.2
packaging==24.2
pandas==2.2.3
pillow==11.1.0
platformdirs==4.3.6
pooch==1.8.2
pyparsing==3.2.1
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
scipy==1.15.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
tqdm==4.67.1
tzdata==2025.1
urllib3==2.3.0
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1733160440960/work
xarray==2025.1.1
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
